.App {
  text-align: center;
}
.bgcolor{


  background-color: rgba(255, 255, 255, 0.404) !important;
}
.navlogo{
  color: rgb(255, 255, 255) !important;
  text-shadow: 4px 4px 5px #000000 !important;
  font-size: 35px !important;
  margin-left: 15px;
  font-style: oblique;
}
.bg{
  background-color: white !important;
}
.navlink{
  color: rgb(255, 255, 255) !important;
  text-shadow: 4px 4px 5px #000000 !important;
  font-size: 20px !important;
  font-style: oblique;
}
.hhome{
  text-shadow: 4px 4px 5px #000000;
  color: rgb(255, 255, 255);
}
.hcard{
  background-color: rgba(255, 255, 255, 0.274) !important;
  color: rgb(255, 255, 255) !important;
  text-shadow: 4px 4px 5px #000000 !important;
}
.viewcard{
  background-color: rgba(255, 255, 255, 0.075) !important;
  color: white !important;
  text-shadow: 4px 4px 5px #000000 !important;
}
.txtarea{
  background-color: rgba(255, 255, 255, 0.774) !important;
  color: black !important;
  text-shadow: 0px 0px 0px #000000 !important;
  padding: 8px;
  border-radius: 10px;
}
.login{
  background-color: rgba(255, 255, 255, 0.075) !important;
  color: white !important;
  text-shadow: 4px 4px 5px #000000 !important;
  padding: 15px;
}
.rederror{
  /* color: rgb(216, 216, 216) !important;
  text-shadow: 1px 1px 2px #ff0000 !important; */
}